{% extends 'home.html' %}
{% block head %}
<!-- Add any necessary CSS or JavaScript imports here -->
<style>
    /* CSS for hover effect */
    .row1:hover {
        background-color: blue !important; /* Change background color to blue on hover */
        color: white !important; /* Change font color to white on hover */
    }
</style>
{% endblock %}
{% block body %}
<main id="main" class="main">
    <div class="row">
        <div class="col">
            <h3> <span class="badge text-bg-warning">GRN ENTRY</span></h3>
        </div>
        <div class="col">
            <input type="text" id="searchInput" onkeyup="search()" placeholder="Search for grn" style="margin-left: 400px;">
        </div>
    </div>
    <table class="table" id="entryTable">
        <thead>
            <tr>
                <th>GRN NO.</th>
                <th>DRAWING NO</th>
                <th>CUSTOMER NAME</th>
                <th>EXP DATETIME</th>
                <th>NO OF QUANTITY</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody id="employeeTable">
            {% for entry in grn %}
            <tr class="clickable-row row1">
                <td>{{ entry.grnentry_GRNNO }}</td>
                <td>{{ entry.grnentry_DRAWINGNO }}</td>
                <td>{{ entry.customername }}</td>
                <td>{{ entry.grnentry_DATETIME }}</td>
                <td>{{ entry.grnentry_NOQUANTITY }}</td>
                <td>
                    {% if entry.status == 'Pending' %}
                    <a class="btn btn-primary tracking-entry-btn" href="{% url 'tracking_entry_view' entry.id %}">TRACKING ENTRY</a>
                     {% endif %}
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#infoModal{{ entry.id }}">Info</button>
                    
                </td>
            </tr>
            <script>
                function redirectToForm(entryId) {
                    window.location.href = `/form/${entryId}/`;
                }
            </script>

            <!-- Info Modal -->
            <div class="modal fade" id="infoModal{{ entry.id }}" tabindex="-1" aria-labelledby="infoModalLabel{{ entry.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="infoModalLabel{{ entry.id }}">GRN ENTRY INFO:</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <strong>GRN NO. : {{ entry.grnentry_GRNNO }}</strong><br>
                            <strong>MATERIAL DESCRIPTION : {{ entry.grnentry_MATERIALDESCRIPTION }}</strong><br>
                            <strong>MATERIAL GRADE: {{ entry.grnentry_MATERIALGRADE }}</strong><br>
                            <strong>QUANTITY : {{ entry.grnentry_NOQUANTITY}} {{ entry.grnentry_QUANTITYTYPE }}</strong><br>
                            <strong>DATE AND TIME : {{ entry.grnentry_DATETIME }}</strong><br>
                            <strong>STORE OWNER : {{ entry.grnentry_STOREOWNER }}</strong><br>
                            <strong>ORDER TYPE : {{ entry.grnentry_ORDERTYPE }}</strong><br>
                            <strong>CUSTOMER CODE: {{ entry.grnentry_CUSTOMERCODE }}</strong><br>
                            <strong>PO NO. : {{ entry.grnentry_PONO }}</strong><br>
                            <strong>CHALLAN NO : {{ entry.grnentry_CHALLANNO }}</strong><br>
                            <strong>COMMENTS : {{ entry.grnentry_COMMENTS }}</strong><br>
                            <strong>SALESORDER NO : {{ entry.grnentry_SONO }}</strong><br>
                            <strong>PART NAME : {{ entry.grnentry_PARTNAME }}</strong><br>
                            <strong>DRAWING NO : {{ entry.grnentry_DRAWINGNO }}</strong><br>
                            <strong>REVISION NO : {{ entry.REVISIONNO }}</strong><br>
                            <strong>EXPECTED TIME : {{ entry.grnentry_EXPTIME }}</strong><br>
                            <strong>File : {% if entry.FILE %}<a href="{{ entry.FILE.url }}" target="_blank">Download</a>{% else %}No file available{% endif %}</strong><br>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tracking Modal -->
            <!-- Tracking Modal -->
            <div class="modal fade" id="trackingModal{{ entry.id }}" tabindex="-1" role="dialog" aria-labelledby="trackingModalLabel{{ entry.id }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="height: auto; width: 800px;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="trackingModalLabel{{ entry.id }}">Tracking Entry</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="trackingForm{{ entry.id }}" style="margin-top: 20px;" class="row g-3" method="post" action="{% url 'form_view1' entry.id %}" enctype="multipart/form-data" onsubmit="return confirmSubmit()">
                                {% csrf_token %}
                                <div class="col-md-6">
                                    <label for="vendor_name{{ entry.id }}" class="form-label">Vendor name<span class="text-danger">*</span></label>
                                    <input type="text" name="vendor_name" class="form-control" id="vendor_name{{ entry.id }}" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="exptime{{ entry.id }}" class="form-label">EXPECTED TIME<span class="text-danger">*</span></label>
                                    <input type="datetime-local" name="exptime" class="form-control" id="exptime{{ entry.id }}" required>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="quantitycheck" value="1" type="checkbox" id="quantitycheck{{ entry.id }}" required>
                                    <label class="form-check-label" for="quantitycheck{{ entry.id }}">
                                        Quantity checked or not<span class="text-danger">*</span>
                                    </label>
                                </div>
                                <div class="mb-3">
                                    <label for="image{{ entry.id }}" class="form-label">IMAGE<span class="text-danger">*</span></label>
                                    <input class="form-control" name="image" type="file" id="image{{ entry.id }}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="report{{ entry.id }}" class="form-label">Reports<span class="text-danger">*</span></label>
                                    <textarea class="form-control" name="report" id="report{{ entry.id }}" rows="3" required></textarea>
                                </div>
                                <span style="margin-bottom: 10px;">PROCESS DETAILS<span class="text-danger">*</span>:</span>
                                <div class="container" style="margin-bottom: 10px;">
                                    <button type="button" onclick="addField({{ entry.id }})" class="btn btn-primary">Add Field</button>
                                </div>
                                <div class="label" style="display:flex; gap: 38px; margin-left: 20px; margin-bottom: 10px;">
                                    <div>PROCESS<span class="text-danger">*</span></div>
                                    <div>DESCRIPTION<span class="text-danger">*</span></div>
                                    <div>START DATE<span class="text-danger">*</span></div>
                                    <div>END DATE<span class="text-danger">*</span></div>
                                    <div>QUANTITY<span class="text-danger">*</span></div>
                                </div>
                                <div id="processContainer{{ entry.id }}">
                                    <div class="row mb-3">
                                        <div class="col">
                                            <input type="text" class="form-control" name="process_static_{{ entry.id }}[]" placeholder="Process" required>
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" name="description_static_{{ entry.id }}[]" placeholder="Description" required>
                                        </div>
                                        <div class="col">
                                            <input type="datetime-local" class="form-control" name="start_date_static_{{ entry.id }}[]" required>
                                        </div>
                                        <div class="col">
                                            <input type="datetime-local" class="form-control" name="end_date_static_{{ entry.id }}[]" required>
                                        </div>
                                        <div class="col">
                                            <input type="number" class="form-control" name="quantity_static_{{ entry.id }}[]" placeholder="Quantity" required>
                                        </div>
                                        <div class="col">
                                            <button type="button" onclick="removeField(this)" class="btn btn-primary">Remove</button>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Delivery Modal -->
            <div class="modal fade" id="deliveryModal{{ entry.id }}" tabindex="-1" aria-labelledby="deliveryModalLabel{{ entry.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deliveryModalLabel{{ entry.id }}">Delivery</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="deliveryForm{{ entry.id }}" style="margin-top: 20px;" class="row g-3" method="post" action="" onsubmit="return confirmSubmit()">
                                {% csrf_token %}
                                <div class="col-md-6">
                                    <label for="vehicleno{{ entry.id }}" class="form-label">VEHICLE NO<span class="text-danger">*</span></label>
                                    <input type="text" name="vehicleno" class="form-control" id="vehicleno{{ entry.id }}" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="transporter{{ entry.id }}" class="form-label">TRANSPORTER<span class="text-danger">*</span></label>
                                    <input type="text" name="transporter" class="form-control" id="transporter{{ entry.id }}" required>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="quantitycheck" value="1" type="checkbox" id="quantitycheck{{ entry.id }}" required>
                                    <label class="form-check-label" for="quantitycheck{{ entry.id }}">
                                        Quantity checked or not<span class="text-danger">*</span>
                                    </label>
                                </div>
                                <div class="mb-3">
                                    <label for="image{{ entry.id }}" class="form-label">IMAGE<span class="text-danger">*</span></label>
                                    <input class="form-control" name="image" type="file" id="image{{ entry.id }}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="report{{ entry.id }}" class="form-label">Reports<span class="text-danger">*</span></label>
                                    <textarea class="form-control" name="report" id="report{{ entry.id }}" rows="3" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </tbody>
    </table>
</main>
<script>
    function addField(entryId) {
        const container = document.getElementById(`processContainer${entryId}`);
        const newRow = document.createElement('div');
        newRow.classList.add('row', 'mb-3');
        newRow.innerHTML = `
            <div class="col">
                <input type="text" class="form-control" name="process_dynamic_${entryId}[]" placeholder="Process" required>
            </div>
            <div class="col">
                <input type="text" class="form-control" name="description_dynamic_${entryId}[]" placeholder="Description" required>
            </div>
            <div class="col">
                <input type="datetime-local" class="form-control" name="start_date_dynamic_${entryId}[]" required>
            </div>
            <div class="col">
                <input type="datetime-local" class="form-control" name="end_date_dynamic_${entryId}[]" required>
            </div>
            <div class="col">
                <input type="number" class="form-control" name="quantity_dynamic_${entryId}[]" placeholder="Quantity" required>
            </div>
            <div class="col">
                <button type="button" onclick="removeField(this)" class="btn btn-primary">Remove</button>
            </div>
        `;
        container.appendChild(newRow);
    }
    
    function removeField(button) {
        button.parentElement.parentElement.remove();
    }
    </script>
<script>


function removeField(button) {
    button.parentElement.remove();
}

function search() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById('searchInput');
    filter = input.value.toUpperCase();
    table = document.getElementById('entryTable');
    tr = table.getElementsByTagName('tr');
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName('td')[0]; // Adjust index to the column you want to search
        if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = '';
            } else {
                tr[i].style.display = 'none';
            }
        }
    }
}

function confirmSubmit() {
    return confirm('Are you sure you want to submit the form?');
}
</script>

{% endblock %}
