<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>{% block title %}FORMDYNAMICS HOME PAGE{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="style">
  <link href="static/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="static/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/simple-datatables/style.css" rel="stylesheet">
  <link href="static/assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="static/script.js">
  <style>
    .dropbtn {
      background-color: #4CAF50;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
    .dropdown {
      position: relative;
      display: inline-block;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    .dropdown-content a:hover {background-color: #f1f1f1}
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .dropdown:hover .dropbtn {
      background-color: #3e8e41;
    }
  </style>
  {% block head %}{% endblock %}
</head>
<body>
 {% load static %}  
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"  >
      <a data-bs-toggle="modal" data-bs-target="#exampleModal1"  class="logo d-flex align-items-center">
        <img src="static/fdlogo.png" alt="" >
        <span class="d-none d-lg-block" title="our company">FORM DYNAMICS </span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <div class="search-bar">
      <form id="search-form" class="search-form d-flex align-items-center" method="POST" action="#">
        <input id="search-input" type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div>
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number" id="notification-count">0</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications" id="notifications">
            <li class="dropdown-header">
              You have <span id="notification-count-text">0</span> new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link collapsed" href="http://127.0.0.1:8000/dashboard">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>ENTRY</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          
          <li>
            <a href="http://127.0.0.1:8000/grnmainpage">
              <i class="bi bi-bookmark-plus-fill"></i><span>LIST GRNENTRY</span>
            </a>
          </li>
          <li>
            <a href="http://127.0.0.1:8000/display_form_data">
              <i class="bi bi-bookmark-plus-fill"></i><span>ORDER TRACK LIST</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-heading"></li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="http://127.0.0.1:8000/materialinfo1">
          <i class="bi bi-question-circle"></i>
          <span>MATERIAL INFO</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="http://127.0.0.1:8000/salesorder1">
          <i class="bi bi-receipt-cutoff"></i>
          <span>SALES ORDER</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="http://127.0.0.1:8000/purchaseinfo">
          <i class="bi bi-receipt"></i>
          <span>PURCHASE ORDER</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="http://127.0.0.1:8000/inventory">
          <i class="bi bi-cart-check"></i>
          <span>INVENTORY</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="http://127.0.0.1:8000/employees">
          <i class="bi bi-people-fill"></i>
          <span>EMPLOYEE INFO</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="http://127.0.0.1:8000/show_master_component">
          <i class="bi bi-hammer"></i>
          <span>MASTER COMPONENT</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="http://127.0.0.1:8000/instruction_calibration">
          <i class="bi bi-question-circle"></i>
          <span>INSTRUCTION CALIBRATION</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="http://127.0.0.1:8000/showoutsourse">
          <i class="bi bi-truck"></i>
          <span>OUTSOURSE</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="http://127.0.0.1:8000/calender">
          <i class="bi bi-truck"></i>
          <span> WORK CALENDER</span>
        </a>
      </li>
    </ul>
  </aside>


  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="height: min-content; width: min-content">
        
        <div class="modal-body">
          <img src="static/1.png" alt="" style="height: 500px; width: auto">
        </div>
        
      </div>
    </div>
  </div>
  {% block body %}{% endblock %}
  {% block js %}{% endblock %}
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <script src="static/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="static/assets/vendor/echarts/echarts.min.js"></script>
  <script src="static/assets/vendor/quill/quill.min.js"></script>
  <script src="static/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="static/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>
  <script src="static/assets/js/main.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const searchForm = document.getElementById('search-form');
      const searchInput = document.getElementById('search-input');
      searchForm.addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent the default form submission
        const query = searchInput.value.toLowerCase().trim();
        const searchMappings = {
          'salesorder': 'http://127.0.0.1:8000/salesorder1',
          'grnentry': 'http://127.0.0.1:8000/grnentry',
          'grnmainpage': 'http://127.0.0.1:8000/grnmainpage',
          'materialinfo': 'http://127.0.0.1:8000/materialinfo1',
          'purchaseinfo': 'http://127.0.0.1:8000/purchaseinfo',
          'ordertracklist': 'http://127.0.0.1:8000/display_form_data',
          'inventory': 'http://127.0.0.1:8000/inventory',
          'employees': 'http://127.0.0.1:8000/employees',
          'mastercomponent': 'http://127.0.0.1:8000/show_master_component',
          'instructioncalibration': 'http://127.0.0.1:8000/instruction_calibration',
          'outsourse': 'http://127.0.0.1:8000/showoutsourse'
        };
        if (query in searchMappings) {
          window.location.href = searchMappings[query];
        } else {
          alert('No matching page found.');
        }
      });
    });
  </script>
</body>
</html>
