{% extends 'home.html' %}
{% block title %}FD INVENTORY{% endblock %}

{% block head %}
<style>
    .material {
        height: 100px;
        width: 23%;
        background-color: white;
        border-radius: 5px;
        margin: 10px 10px 10px 10px;
        display: flex;
    }
</style>
{% endblock %}

{% block body %}
<main id="main" class="main">

    <div class="col modal-header">
        <h3><span class="badge text-bg-primary">INVENTORY</span></h3>
    </div>
    <!-- Search input -->
    <div class="col">
        <input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Search for Part Name, Drawing No, or Material Grade..." class="form-control" style="margin-bottom: 10px;">
    </div>

    <h3> <span class="badge text-bg-warning">PENDING ORDERS</span></h3>
    <table class="table table-bordered" id="inventoryTable">
        <thead>
            <tr>
                <th scope="col" style="background-color: rgb(205, 203, 251);">PART NAME</th>
                <th scope="col" style="background-color: rgb(205, 203, 251);">DRAWING NO</th>
                <th scope="col" style="background-color: rgb(205, 203, 251);">MATERIAL GRADE</th>
                <th scope="col" style="background-color: rgb(205, 203, 251);">PART COST</th>
                <th scope="col" style="background-color: rgb(205, 203, 251);"X-CSRFToken> QUANTITY</th>
                
            </tr>
        </thead>
        <tbody>
            {% for inventory in pending_inventory_list %}
            <tr>
                <td>{{ inventory.part_name }}</td>
                <td>{{ inventory.drawing_no }}</td>
                <td>{{ inventory.material_grade }}</td>
                <td>not decided</td>
                <td>{{ inventory.remaining_quantity }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3> <span class="badge text-bg-warning">COMPLETED ORDERS</span></h3>
    <table class="table table-bordered" id="completedInventoryTable">
        <thead>
            <tr>
                <th scope="col" style="background-color: rgb(205, 203, 251);">PART NAME</th>
                <th scope="col" style="background-color: rgb(205, 203, 251);">DRAWING NO</th>
                <th scope="col" style="background-color: rgb(205, 203, 251);">MATERIAL GRADE</th>
                <th scope="col" style="background-color: rgb(205, 203, 251);">PART COST</th>
                <th scope="col" style="background-color: rgb(205, 203, 251);">REMAINING QUANTITY</th>
                
            </tr>
        </thead>
        <tbody>
            {% for inventory in completed_inventory_list %}
            <tr>
                <td>{{ inventory.part_name }}</td>
                <td>{{ inventory.drawing_no }}</td>
                <td>{{ inventory.material_grade }}</td>
                <td>{{ inventory.part_costs }}</td>
                <td>{{ inventory.remaining_quantity }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>

</main>

<script>
    function searchTable() {
        // Get the input value
        var input = document.getElementById('searchInput');
        var filter = input.value.toUpperCase();
        
        // Get the tables and their rows
        var tables = ['inventoryTable', 'completedInventoryTable'];
        
        tables.forEach(function(tableId) {
            var table = document.getElementById(tableId);
            var tr = table.getElementsByTagName('tr');

            // Loop through all table rows (except the header) and hide those that don't match the search query
            for (var i = 1; i < tr.length; i++) {
                var tdPartName = tr[i].getElementsByTagName('td')[0];
                var tdDrawingNo = tr[i].getElementsByTagName('td')[1];
                var tdMaterialGrade = tr[i].getElementsByTagName('td')[2];

                if (tdPartName || tdDrawingNo || tdMaterialGrade) {
                    var txtValuePartName = tdPartName.textContent || tdPartName.innerText;
                    var txtValueDrawingNo = tdDrawingNo.textContent || tdDrawingNo.innerText;
                    var txtValueMaterialGrade = tdMaterialGrade.textContent || tdMaterialGrade.innerText;

                    if (txtValuePartName.toUpperCase().indexOf(filter) > -1 ||
                        txtValueDrawingNo.toUpperCase().indexOf(filter) > -1 ||
                        txtValueMaterialGrade.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = '';
                    } else {
                        tr[i].style.display = 'none';
                    }
                }       
            }
        });
    }
</script>

{% endblock %}
